
  <% @webpage_title = 'Control' %>
  <% @app_title = 'Control' %>
  <% @back_button_url = '' %>
 <div class="content-padded">
  <p class="welcome">Hit the On/Off toggles below to activate and deactivate power to your outlets.</p>
 </div>

 <ul class="list inset">
  <%= outlet_toggle_list %>
  <li>
    <a href="#" onclick="toggleLED()">
      <strong>Web Test Button</strong>
      <span class="chevron"></span>
    </a>
  </li>
</ul>

<script type="text/javascript">
function toggleLED() {
  if(state == 0){
    state = 1;
    $.post(
      "https://api.electricimp.com/v1/15c991e47cd2d556/305b47ad02f145bf", 
      { value: 1, channel: 1 } 
    );
    $('#toggleLED').removeClass().addClass('toggle active');
  }else{
    state = 0;
    $.post(
      "https://api.electricimp.com/v1/15c991e47cd2d556/305b47ad02f145bf", 
      { value: 0, channel: 1 } 
    );
    $('#toggleLED').removeClass().addClass('toggle');
  }

}
$(window).load(function(){
document
  .querySelector('#toggleLED')
  .addEventListener('toggle', toggleLED);
});
var state = <%= get_led_state %>;
</script>
