

 <div class="content-padded">
  <p class="welcome">In this Proof-Of-Concept, we can control a LED on our board via the internet (and this app)! Simply hit the toggle switch to alternate between the LED flashing and being turned off.</p>
 </div>

 <ul class="list inset">
  <li>
    <strong>Toggle LED On/Off</strong>
    <div class="toggle <%= toggle_active_html %>" id="toggleLED">
      <div class="toggle-handle"></div>
    </div>
  </li>
  <li>
    <a href="#" onclick="toggleLED()">
      <strong>Web Test Button</strong>
      <span class="chevron"></span>
    </a>
  </li>
</ul>

<script type="text/javascript">
function toggleLED() {
  if(state == 0){
    state = 1;
    $.post(
      "https://api.electricimp.com/v1/15c991e47cd2d556/305b47ad02f145bf", 
      { value: 1, channel: 1 } 
    );
    $('#toggleLED').removeClass().addClass('toggle active');
  }else{
    state = 0;
    $.post(
      "https://api.electricimp.com/v1/15c991e47cd2d556/305b47ad02f145bf", 
      { value: 0, channel: 1 } 
    );
    $('#toggleLED').removeClass().addClass('toggle');
  }

}
$(window).load(function(){
document
  .querySelector('#toggleLED')
  .addEventListener('toggle', toggleLED);
});
var state = <%= get_led_state %>;
</script>
