  <% @webpage_title = 'Outlet ' + params[:id] + ' Settings' %>
  <% @app_title = 'Outlet ' + params[:id] + ' Settings' %>
 <div class="content-padded">
  <p class="welcome">To Do: Add back button, Rename link, set schedule link, enable/disable schedule link</p>
 </div>

