  <% @webpage_title = 'Setup' %>
  <% @app_title = 'Setup' %>
 <div class="content-padded">
  <p class="welcome">Name your outlets, and enable/disable a schedule for them.</p>
 </div>

 <ul class="list inset">
  <%= outlet_settings_list %>
  <li>
    <a href="#" onclick="toggleLED()">
      <strong>Web Test Button</strong>
      <span class="chevron"></span>
    </a>
  </li>
</ul>

